<div class="my-3">
    <h3>Add a todo</h3>
    <hr>
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Todo Title</label>
            <input type="text" name="title" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="desc" name="desc" class="form-control" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Add Todo</button>
    </form>
</div>